body, html
  max-width 100%
  max-height 100%
  background-color whitesmoke

p
  font-size 16px

.ui.container
  padding 30px

.ui.icon.button
  margin-top 20px

.ui.button
  margin-top 30px

.cube
  margin-top 20px
  margin-bottom 20px

.hide
  display none
